
@font-face {
    font-family: 'lato_regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lato_bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avantgardelt-extralight';
    src: url('../fonts/avantgardelt-extralight.eot');
    src: url('../fonts/avantgardelt-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardelt-extralight.woff') format('woff'),
         url('../fonts/avantgardelt-extralight.ttf') format('truetype'),
         url('../fonts/avantgardelt-extralight.svg#avantgardelt-extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

img {
    max-width: 100%;
    height: auto;
}

.wrapper{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
    position: relative;
}

::selection {color:#ffffff;background:#353434;}
::-moz-selection {color:#ffffff;background:#353434;}

.feature a,
.cta a.cta_btn,
.testimonials #t_navigation a,
header ul.social li a,
header nav ul li a{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}





header{
    width: 100%;
    height: 80px;
    background: #353434;
}

header .logo{
    float: left;
    margin-top: 21px;
}


header nav{
    overflow: hidden;
    display: inline-block;
    margin: 20px 0 0 40px;
    padding: 13px 40px;
    border-left: 1px #404040 solid;
    z-index: 9999;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    margin-left: 35px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 1px;
}

header nav ul li:first-child{
    margin-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover{
    color: #ff5024;
}

header ul.social{
    float: right;
    list-style: none;
    margin-top: 23px;
}

header ul.social li{
    float: left;
    margin-left: 10px;
}

header ul.social li a{
    display: block;
    width: 35px;
    height: 35px;
    background: url('../img/sm.png') no-repeat;
}

header ul.social li a:hover{
    background: url('../img/sm_hover.png') no-repeat;
}

header ul.social li a{
    display: block;
    width: 35px;
    height: 35px;
}

header ul.social li a.vk{
    background-position: 0 0;
}


.billb{
    width: 100%;
	background: url("../img/white.png");
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    overflow: hidden;
}

.billb .captions p{
    display: inline-block;
    color: #000;
    font-family: "lato-bold", arial;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 2px;
    z-index: 8888;
}

.billboards{
    width: 100%;
    height: 580px;
	background: url("../img/white.png");
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    overflow: hidden;
}



.billboards .captions p{
    display: inline-block;
    color: #000;
    font-family: "lato-bold", arial;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 2px;
    z-index: 8888;
}

.billboard{
    width: 100%;
    height: 580px;
    background: url("../img/billboard.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.billboard .caption{
    margin-left: 515px;
    margin-top: 220px;
}

.billboard .caption p{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 35px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 2px;
    text-transform: uppercase;
    z-index: 8888;
}

.cta{
    display: block;
    text-align: center;
    padding-top: 100px;
}

.cta h3{
    color: #6b6b6b;
    font-family: "lato_bold", arial;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta p{
    color: #7f7c7c;
    font-family: "lato_regular", arial;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: .5px;
}

.cta a.cta_btn{
    display: inline-block;
    padding: 20px 60px;
    background-color: #ff5024;
    color: #fff;
    font-family: "lato_regular", arial;
    font-size: 20px;
    text-decoration: none;
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;


    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

}

.cta a.cta_btn:hover{
    background: #ff5024;
}

.cta .cta_sep{
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
}




footer{
    padding: 100px 0;
    border-top: 1px #dedede solid;
    background: #f7f7f7;
    text-align: center;
}

footer .rights{
    color: #3b3b3b;
    font-family: "lato_regular", arial;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
}

footer .rights a{
    text-decoration: none;
    font-family: 'lato_bold', arial;
    font-weight: bold;
    color: #3b3b3b;
}

a{
    color: #3b3b3b;
}


@media (max-width:1200px){
    .wrapper{
        padding: 0 40px;
    }
    .info_pic,
    .info_details{
        width: 100%;
    }

    .info_details{
        height: auto;
        padding: 40px 0;
    }

    .info_details h3,
    .info_details p,
    .info_details a{
        max-width: 80%;
        display: block;
        text-align: center;
        margin: 40px auto;
    }
}


@media (max-width:1000px){
    .billboard .caption{
        text-align: center;
        margin-left: 0;
    }
    .cta{
        width: 80%;
        margin: 0 auto;
    }
}


@media (max-width:800px){
    header .logo{
        float: none;
    }


    ul.social{
        display: none;
    }

    header nav{
        display: block;
        background: #353434;
        margin: 21px 0 0 0;
        padding: 0;
        border-left: 0;
        border-top: 1px #2c2c2c solid;
        overflow: hidden;
        text-align: center;
        position: relative;
        z-index: 9999;
        display: none;
    }
    header nav{
        border-bottom-left-radius: 2px; 
        -webkit-border-bottom-left-radius: 2px; 
        -moz-border-bottom-left-radius: 2px; 
        -o-border-bottom-left-radius: 2px; 
        border-bottom-right-radius: 2px; 
        -webkit-border-bottom-right-radius: 2px; 
        -moz-border-bottom-right-radius: 2px; 
        -o-border-bottom-right-radius: 2px; 
    }
    header nav.show_menu{
        display: block;
    }
    header nav ul li{
        margin: 0;
        width: 100%;
        border-bottom: 1px #2c2c2c solid;
    }
    header nav ul li:last-child{
        border-bottom: 0;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        padding: 20px 0;
    }
    header nav ul li a:active{
        display: block;
        width: 100%;
        padding: 20px 0;
        background: #2c2c2c;
    }

    .features .feature{
        width: 46.66666666666667%;
        margin-right: 6.666666666666667%!important;
    }
    .features .feature:nth-child(2n+2)
    {
        margin-right: 0!important;
    }
}

@media (max-width:500px){

    .features .feature{
        width: 100%;
        margin-right: 0!important;
    }

}